@page
@model AdminDashboard
@using Common.Additional
@using CoursePlatform.Common.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject RoleManager<Role> RoleManager
@{
    ViewData["Title"] = "Error";
}

<section class="platform">
    <div class="container">
        <div class="platform-wrrapper">
            <h2 class="platform-title">AdminDashboard</h2>
            <div class="platform-menu">
                <nav class="platform-menu--wrapper">
                    <ul class="platform-menu--list">
                        <li class="platform-menu--item">
                            <a href="?FilterType=Courses" class="platform-menu--link @if(Request.Query["FilterType"] == "Courses") { <text>platform-menu--active</text> }">Курсы</a>
                        </li>
                        <li class="platform-menu--item">
                            <a href="?FilterType=Users" class="platform-menu--link @if(Request.Query["FilterType"] == "Users") { <text>platform-menu--active</text> }">Пользователи</a>
                        </li>
                        <li class="platform-menu--item">
                            <a href="?FilterType=Categories" class="platform-menu--link @if(Request.Query["FilterType"] == "Categories") {<text>platform-menu--active</text>}">Категории</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="course-editor editor">
    <div class="container">
        <div class="editor-wrapper">
            <div class="couser-search search adminsearch">
                <form class="search-form" method="get">
                    <input type="hidden" name="FilterType" value="@Model.CurrentFilterType" />
                    <div class="search-input--wrapper">
                        <input type="text" name="searchTerm" class="search-input form-input" placeholder="Введите текст" value="@Request.Query["searchTerm"]">
                        <button type="submit">
                            <img src="/image/search.svg" alt="" class="search-icon">
                        </button>
                    </div>
                </form>
            </div>

            @if (String.IsNullOrEmpty(Model.CurrentFilterType) || Model.CurrentFilterType == "Courses")
            {
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Преподаватель</th>
                            <th>Название курса</th>
                            <th>Кол-во лекций</th>
                            <th>Кол-во учеников</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model.Courses.OrderBy(c => c.Teacher.Profile.Surname))
                        {
                            <tr>
                                <td>@course.Teacher.Profile.Surname @course.Teacher.Profile.Name @course.Teacher.Profile.LastName</td>
                                <td>@course.CourseTitle</td>
                                <td>@course.Lectures.Count()</td>
                                <td>@course.CourseEnrollments.Count()</td>
                                <td>
                                    <form method="post" asp-page-handler="DeleteCourse" asp-route-courseid="@course.Id">
                                        <button type="submit" class="btn btn-table-delete">Удалить</button>
                                        
                                        <input type="hidden" name="filtertype" value="@Model.CurrentFilterType" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            }

            else if(Model.CurrentFilterType == "Users")
            {
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ФИО пользователя</th>
                                <th>Username</th>
                                <th>Роль</th>
                                <th>Кол-во курсов</th>
                                <th>Записи на курс</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users.OrderBy(u => u.Profile.Surname))
                            {
                                var roles = await UserManager.GetRolesAsync(user);
                                var firstRole = roles.FirstOrDefault();
                                var coursesCount = firstRole == "Teacher" ? user.Courses?.Count() ?? 0 : 0;
                                var enrollmentsCount = firstRole == "Student" ? user.CourseEnrollments?.Count() ?? 0 : 0;

                                <tr>
                                    <td>@user.Profile.GetFullName()</td>
                                    <td>@user.UserName</td>
                                    <td>@firstRole</td>
                                    <td>@coursesCount</td>
                                    <td>@enrollmentsCount</td>
                                    <td>
                                        <form method="post" asp-page-handler="DeleteUser" asp-route-userid="@user.Id">
                                            <button type="submit" class="btn btn-table-delete">Удалить</button>
                                            <input type="hidden" name="userid" value="@user.Id" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            }

            else if(Model.CurrentFilterType == "Categories")
            {
                <form id="addCategoryForm" asp-page-handler="AddCategory" method="post" class="form-category">
                    <div class="form-wrapper admin-form-wrapper">
                        <input name="categoryname" placeholder="Название категории" type="text" class="category-input form-input admin-form-input" />
                        <button type="submit" class="btn btn-save admin-btn-add">Добавить категорию</button>
                    </div>
                    
                </form>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Название категории</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.Categories.OrderBy(c => c.Name))
                            {
                                <tr>
                                    <td>@category.Name</td>
                                    <td>
                                        <form method="post" asp-page-handler="DeleteCategory" asp-route-categoryid="@category.Id">
                                            <button type="submit" class="btn btn-table-delete">Удалить</button>
                                            <input type="hidden" name="catid" value="@category.Id" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            
        </div>
    </div>
</section>
