@page
@using CoursePlatform.Common.Additional
@model CourseDetailedModel
@{
    ViewData["Title"] = "Home page";
}

<section class="course-details">
    <div class="container">
        <div class="course-details--wrapper details">
            <div class="detail-back">
                <div class="detail-back-wrapper">
                    <a asp-page="/Index" class="detail-back--link">
                        <img src="./image/back-arrow.svg" alt="" class="detail-back--icon">
                    </a>
                </div>
            </div>
            <div class="details-top">
                <p class="details-for details-grey">
                    @if (Model.Course.Teacher is not null && !String.IsNullOrEmpty(Model.Course.Teacher.Profile.Name))
                    {
                        Model.Course.Teacher.Profile.GetFullName();
                    }
                    else
                    {
                        <span>Неизвестный преподаватель</span>
                    }
                </p>
                <div class="details-name">
                    <h3 class="details-name--title">@Model.Course.CourseTitle</h3>
                    <div class="details-name--star star">
                        @if (Model.Course.Complexity == Common.Enums.Complexity.Light)
                        {
                            <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                            <img src="/image/emptystar.svg" alt="" class="card-star--icon">
                            <img src="/image/emptystar.svg" alt="" class="card-star--icon">
                        }
                        else if (Model.Course.Complexity == Common.Enums.Complexity.Medium)
                        {
                            <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                            <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                            <img src="/image/emptystar.svg" alt="" class="card-star--icon">
                        }
                        else
                        {
                            <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                            <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                            <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                        }
                    </div>
                </div>
                <p class="details-description details-grey">Описание</p>
                <p class="details-description-text">
                    @Model.Course.CourseDecription
                </p>

                @if(User.Identity.IsAuthenticated && User.IsInRole("Student"))
                {
                    <form asp-page="/CourseLanding" method="post">
                        <div class="details-btn">
                            <button type="submit" name="courseid" value="@Model.Course.Id" class="details-btn--link">Записаться</button>
                        </div>
                    </form>
                }
                else if (User.Identity.IsAuthenticated && !User.IsInRole("Student"))
                { 
                    <div class="details-subscribe--block">
                        <span>Только студент может записаться на курс</span>
                    </div>
                    
                }
                else
                {
                    <div class="details-subscribe--block">
                        <span>Авторизируйтесь как студент, перед тем как записаться на курс</span>
                    </div>
                }
            </div>
            <div class="details-lesson lesson">
                @foreach(var stage in Model.Course.Lectures.OrderBy(l => l.OrderInCourse))
                {
                    @if(stage.LectureMaterial is not null)
                    {
                        <div class="lesson-item">
                            <div class="lesson-top">
                                <p class="lesson-number">Урок @stage.OrderInCourse</p>
                            </div>
                            <div class="lesson-middle">
                                <h3 class="lesson-name">@stage.Title</h3>
                                <p class="lesson-time">Лекция</p>
                            </div>
                            <p class="lesson-description details-grey">
                                @stage.SubTitle
                            </p>
                        </div>
                    }
                    else if (stage.Image is not null)
                    {
                        <div class="lesson-item">
                            <div class="lesson-top">
                                <p class="lesson-number">Урок @stage.OrderInCourse</p>
                            </div>
                            <div class="lesson-middle">
                                <h3 class="lesson-name">@stage.Title</h3>
                                <p class="lesson-time">Изображение</p>
                            </div>
                            <p class="lesson-description details-grey">
                                @stage.SubTitle
                            </p>
                        </div>
                    }
                    else if (stage.Video is not null)
                    {
                        <div class="lesson-item">
                            <div class="lesson-top">
                                <p class="lesson-number">Урок @stage.OrderInCourse</p>
                            </div>
                            <div class="lesson-middle">
                                <h3 class="lesson-name">@stage.Title</h3>
                                <p class="lesson-time">Видео</p>
                            </div>
                            <p class="lesson-description details-grey">
                                @stage.SubTitle
                            </p>
                        </div>
                    }
                    else if (stage.AdditionalFile is not null)
                    {
                        <div class="lesson-item">
                            <div class="lesson-top">
                                <p class="lesson-number">Урок @stage.OrderInCourse</p>
                            </div>
                            <div class="lesson-middle">
                                <h3 class="lesson-name">@stage.Title</h3>
                                <p class="lesson-time">Видео</p>
                            </div>
                            <p class="lesson-description details-grey">
                                @stage.SubTitle
                            </p>
                        </div>
                    }
                    else if (stage.Test is not null)
                    {
                        <div class="lesson-item">
                            <div class="lesson-top">
                                <p class="lesson-number">Урок @stage.OrderInCourse</p>
                            </div>
                            <div class="lesson-middle">
                                <h3 class="lesson-name">@stage.Title</h3>
                                <p class="lesson-time">Тест</p>
                            </div>
                            <p class="lesson-description details-grey">
                                @stage.SubTitle
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="lesson-item">
                            <div class="lesson-top">
                                <p class="lesson-number">Урок @stage.OrderInCourse</p>
                            </div>
                            <div class="lesson-middle">
                                <h3 class="lesson-name">@stage.Title</h3>
                                <p class="lesson-time">Без блока</p>
                            </div>
                            <p class="lesson-description details-grey">
                                @stage.SubTitle
                            </p>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</section>




@* <div class="lesson-item">
    <div class="lesson-top">
        <p class="lesson-number">Урок 1</p>
        <p class="lesson-status lesson-passed">Пройден</p>
    </div>
    <div class="lesson-middle">
        <h3 class="lesson-name">Введение в скуфоводство</h3>
        <p class="lesson-time">2 часа</p>
    </div>
    <p class="lesson-description details-grey">
        Альтушка — это девушка с необычной внешностью.
        Какие фильмы и сериалы она смотрит,
        какую музыку слушает, чем увлекается и с кем дружит, уже не имеет значения.
    </p>
</div>
<div class="lesson-item">
    <div class="lesson-top">
        <p class="lesson-number">Урок 1</p>
        <p class="lesson-status">Не пройден</p>
    </div>
    <div class="lesson-middle">
        <h3 class="lesson-name">Введение в скуфоводство</h3>
        <p class="lesson-time">2 часа</p>
    </div>
    <p class="lesson-description details-grey">
        Альтушка — это девушка с необычной внешностью.
        Какие фильмы и сериалы она смотрит,
        какую музыку слушает, чем увлекается и с кем дружит, уже не имеет значения.
    </p>
</div> *@
