@page
@using CoursePlatform.Common.Additional
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="course_maintitle">Платформа для онлайн-курсов</h1>
@*     <video width="640" height="360" controls>
        <source src="@Model.VideoUrl" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <iframe width="640" height="360" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe> *@
    <form method="get">
        <div class="course_tabbar">
            <div class="course_tabbar_tab @if(Request.Query["FilterType"] == "All") { <text>tab_active</text> }">
                <a href="?FilterType=All"><h5>Все курсы</h5></a>
            </div>
            <div class="course_tabbar_tab @if(Request.Query["FilterType"] == "InProgress") { <text>tab_active</text> }">
                <a href="?FilterType=InProgress"><h5>В процессе</h5></a>
            </div>
            <div class="course_tabbar_tab @if(Request.Query["FilterType"] == "Complete") { <text>tab_active</text> }">
                <a href="?FilterType=Complete"><h5>Пройденные</h5></a>
            </div>
        </div>
    </form>
</div>
<section class="course">
    <div class="container">
        <div class="course-wrapper">
           
            @foreach (var course in Model.Courses)
            {
                <div class="course-card card">
                    <div class="card-wrapper">
                        <div class="card-top">
                            <h3 class="card-teacher">
                                    @if(course.Teacher is not null && !String.IsNullOrEmpty(course.Teacher.Profile.Name))
                                    {
                                        @course.Teacher.Profile.GetShoryName();
                                    }
                                    else
                                    {
                                        <span>Неизвестный преподаватель</span>
                                    }
                            </h3>
                            <div class="card-star">
                                @if(course.Complexity == Common.Enums.Complexity.Light)
                                {
                                    <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                                    <img src="/image/emptystar.svg" alt="" class="card-star--icon">
                                    <img src="/image/emptystar.svg" alt="" class="card-star--icon">
                                }
                                else if (course.Complexity == Common.Enums.Complexity.Medium)
                                {
                                    <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                                    <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                                    <img src="/image/emptystar.svg" alt="" class="card-star--icon">
                                }
                                else
                                {
                                    <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                                    <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                                    <img src="/image/fullstar.svg" alt="" class="card-star--icon">
                                }

                            </div>
                        </div>
                        <div class="card-middle">
                            <h3 class="card-title">@course.CourseTitle</h3>
                            <p class="card-lessons">@course.Lectures.Count() лекций</p>
                            <div class="card-category category">
                                @foreach (var category in course.CourseCategories)
                                {
                                    <div class="category-block category-block--prog">
                                        <p class="category-name category-name--prog">@category.Name</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <a href="./CourseDetailed?id=@course.Id" class="card-button--link">Подробнее</a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>


@*     <h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core.</p>

    <h2>Courses</h2>
    <ul>
        @foreach (var item in Model.Courses)
        {
            <li>@item.CourseTitle - @item.CourseDecription</li>
        }
    </ul>

    <h2>Users</h2>
    <ul>
        @foreach (var item in Model.Users)
        {
            <li>@item.Username - @item.Password:
            @foreach(var course in item.Courses)
                {
                    @course.CourseTitle <br />
                }
            </li>
        }
    </ul>

    <form method="post">
        <!-- Кнопка для отправки POST запроса -->
        <button type="submit" name="handler" value="Create">Добавить новую сущность</button>
    </form>
    <form method="post">
        <!-- Кнопка для отправки POST запроса -->
        <button type="submit" name="handler" value="Delete">Добавить новую сущность</button>
    </form>

    <h2>Courses - @Model.Courses.Count() </h2>
    <h2>Users - @Model.Users.Count() </h2> *@
</div>



