@page
@model MyCourseDetailModel
@using CoursePlatform.Common.Additional;
@{
    ViewData["Title"] = "Course Details";
}

<section class="course-editor editor">
    <div class="container">
        <div class="editor-wrapper">
            @* <h2>Крутой курс</h2>

            <h3>Edit Course Profile</h3> *@
            
            <form method="post" asp-page-handler="EditCourse" asp-route-courseId="@Model.CurrentCourse.Id">
                <div class="editor-group">
                    <label asp-for="Title" class="editor-label">Название курса</label>
                    <input asp-for="Title" class="editor-control form-input" placeholder="@Model.CurrentCourse.CourseTitle" />
                </div>
                <div class="editor-group">
                    <label asp-for="Description" class="editor-label">Описание</label>
                    <textarea asp-for="Description" class="editor-control form-input" placeholder="@Model.CurrentCourse.CourseDecription"></textarea>
                </div>
                <div class="editor-group">
                    <label asp-for="Complexity" class="editor-label">Сложность</label>
                    <select asp-for="Complexity" class="editor-control form-input">
                        <option value="1">Легкий</option>
                        <option value="2">Средний</option>
                        <option value="3">Тяжелый</option>
                    </select>
                </div>
                <div class="editor-group create-form--checkbox">
                    <label class="editor-label">Категории</label>
                    <div class="category-block-add">
                        <div class="category-checkboxs checkbox">
                            @foreach (var category in Model.AllCategories)
                            {
                                <div class="checkbox-wrapper">
                                    <label class="checkbox-container">
                                        <input class="custom-checkbox" type="checkbox" name="SelectedCategoryIds" value="@category.Id"
                                        @(Model.SelectedCategoryIds.Contains(category.Id) ? "checked" : "") />
                                        <span class="checkmark"></span>
                                        <label class="checkbox-label">@category.Name</label>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-save editor-btn-save">Сохранить</button>
            </form>
            
            <a class="constructor-btn" href="/CourseConstructor?courseid=@Model.CurrentCourse.Id">Конструктор</a>
            
            <h3 class="editor-records">Записи на курс</h3>
            
            <div class="table-container">
                <table class="table">
                <thead>
                    <tr>
                        <th>Участник</th>
                        <th>Дата записи</th>
                        <th>Прогресс (%)</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var enrollment in Model.CurrentCourse.CourseEnrollments)
                    {
                        <tr>
                            <td>@enrollment.Student.Profile.Name @enrollment.Student.Profile.Surname</td>
                            <td>@enrollment.EnrollmentDate.ToShortDateString()</td>
                            <td>@enrollment.GetProgress()</td>
                            <td>
                                <form method="post" asp-page-handler="DeleteEnrollment" asp-route-enrollmentId="@enrollment.Id">
                                    <button type="submit" class="btn btn-table-delete">Удалить</button>
                                    <input type="hidden" name="courseid" value="@Model.CurrentCourse.Id"/>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>

            
        </div>
    </div>
</section>
