@page
@using CoursePlatform.Common.Additional
@model ProfilePageModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
    <h2 class="profile-title title">Аккаунт</h2>
</div>
<section class="profile">
    <div class="container">
    <div class="profile-wrapper">
            <div class="profile-top">
                <div class="profile-user user">
                    <div class="user-top">
                        <p class="user-name">@Model.CurrentUser.Profile.GetFullName()</p>
                        <div class="user-type">
                            <p class="user-type--text">@Model.Role</p>
                        </div>
                    </div>
                    <div class="user-bottom">
                        <p class="user-finish user-course">
                            <span>8</span>
                            курсов пройдено
                        </p>
                        <p class="user-process user-course">
                            <span>8</span>
                            курсов в процессе
                        </p>
                    </div>
                </div>
                <div class="profile-btn">
                    <button id="editButton" class="profile-btn--edit btn-save--close">Редактировать</button>
                    <button id="saveButton" class="profile-btn--save btn-save--close">Сохранить</button>
                </div>
            </div>

            <div class="profile-info info">
                <div class="info-wrapper data">
                    <h3 class="data-title info-title">Личные данные</h3>
                    <form id="dataForm" asp-page="/Authentication" asp-page-handler="EditProfile" class="form-info">
                        <div class="form-wrapper">
                            <label class="info-label form-label">Фамииля</label>
                            <input name="surname" type="text" placeholder="@Model.CurrentUser.Profile.Surname" class="info-input form-input">
                            <label class="info-label form-label">Имя</label>
                            <input name="name" type="text" placeholder="@Model.CurrentUser.Profile.Name" class="info-input form-input">
                            <label class="info-label form-label">Отчество</label>
                            <input name="lastname" type="text" placeholder="@Model.CurrentUser.Profile.LastName" class="info-input form-input">
                            <label class="info-label form-label">Дата</label>
                            <input type="date" class="info-input form-input">
                            <input name="currentusername" value="@Model.CurrentUser.UserName" type="hidden">
                        </div>
                    </form>
                </div>

                <div class="info-wrapper account">
                    <h3 class="account-title info-title">Логин и пароль</h3>
                    <form id="accountForm" asp-page="/Authentication" asp-page-handler="EditAccount" class="form-info">
                        <div class="form-wrapper">
                            <label class="info-label form-label">Никнейм</label>
                            <input placeholder="@Model.CurrentUser.UserName" name="newusername" type="text" class="info-input form-input">
                            <label class="info-label form-label">Пароль</label>
                            <input name="newpassword" type="password" class="info-input form-input">
                            <input name="currentusername" value="@Model.CurrentUser.UserName" type="hidden">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
</section>

<script>
    $('#editButton').click(function() {
        $('#accountForm').submit();
    });
</script>

<script>
    $('#saveButton').click(function () {
        $('#dataForm').submit();
    });
</script>

<script>
    $(document).ready(function () {
        function toggleButtonClass() {
            var surname = $('input[name="surname"]').val();
            var name = $('input[name="name"]').val();
            var lastname = $('input[name="lastname"]').val();

            if (surname.length > 0 || name.length > 0 || lastname.length > 0) {
                $('#saveButton').removeClass('btn-save--close');
            } else {
                $('#saveButton').addClass('btn-save--close');
            }
        }

        $('input[name="name"], input[name="surname"], input[name="lastname"]').on('input', function () {
            toggleButtonClass();
        });

        toggleButtonClass();
    });
</script>

<script>
    $(document).ready(function () {
        function toggleButtonClass() {
            var username = $('input[name="surname"]').val();
            var password = $('input[name="newpassword"]').val();

            if (username.length > 0 || password.length > 0) {
                $('#editButton').removeClass('btn-save--close');
            } else {
                $('#editButton').addClass('btn-save--close');
            }
        }

        $('input[name="newusername"], input[name="newpassword"]').on('input', function () {
            toggleButtonClass();
        });

        toggleButtonClass();
    });
</script>