@page
@using CoursePlatform.Common.Additional
@using System.IO
@using CoursePlatform.Common.Enums
@model TestCreate
@{
    ViewData["Title"] = "Home page";
}

<section class="lecture">
    <div class="lecture-wrapper">
        <div class="lecture-menu">
            <ul class="lecture-list">
                @{
                    int counter = 1;
                    @foreach (var question in Model.CurrentTest.Questions)
                    {
                        var isActive = question.Id == Model.CurrentQuestion?.Id ? "lecture-active" : "";
                        <li class="lecture-item">
                            <a href="/TestCreate?testid=@Model.CurrentTest.Id&questionid=@question.Id" class="lecture-link @isActive">
                                <span>@counter</span>
                                вопрос
                            </a>
                            <form method="post" asp-page-handler="DeleteQuestion">
                                <button type="submit">Удалить</button>
                                <input type="hidden" name="testid" value="@Model.CurrentTest.Id" />
                                <input type="hidden" name="questionid" value="@question.Id" />
                            </form>
                        </li>
                        counter++;
                    }
                }
                <form method="post" asp-page-handler="AddNewQuestion">
                    <button type="submit" class="lecture-add">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0.856934V23.1426" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M0.857178 11.9312H23.1429" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <input type="hidden" name="testid" value="@Model.CurrentTest.Id" />
                </form>
            </ul>
        </div>

        @if (Model.CurrentQuestion is not null)
        {
            <div class="lecture-content">
                <div class="lecture-content--wrapper">
                    <div class="block-item block-add--test add-test">
                        <form method="post" asp-page-handler="SaveQuestion" class="add-test--form">
                            <input type="hidden" name="questionid" value="@Model.CurrentQuestion.Id" />
                            <input type="text" name="questionContent" class="add-test--input form-input input-add--lecture" placeholder="Вопрос" value="@Model.CurrentQuestion.Content">
                            <div class="test-answer">
                                <div class="test-answer--form add-test-answer">
                                    @for (int i = 0; i < Model.CurrentQuestion.Answers.Count; i++)
                                    {
                                        var answer = Model.CurrentQuestion.Answers[i];
                                        var isChecked = answer.AnswerType == AnswerType.Correct ? "checked" : "";
                                        <input class="input" value="@i" name="correctAnswerIndex" type="radio" id="answer-@i" @isChecked>
                                        <label class="label" for="answer-@i">
                                            <span></span>
                                            <input type="text" name="answers[@i]" class="form-input input-add--lecture" placeholder="Вставьте ответ" value="@answer.AnswerContent">
                                        </label>
                                    }
                                    <div class="test-answer--worm worm">
                                        <div class="worm-segment"></div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
